header {
  background: $color-light-xl;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;

  .flex-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 40px;
  }

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    height: 60px;

    .title {
      @include logo-title();
      color: $color-dark-l;
    }

    .subtitle {
      @include logo_subtitle();
      color: $color-dark-3xl;
    }
  }

  .nav-menu {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 443px;
      list-style-type: none;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0;

      li {
        // padding: 0px 0px 0px 35px;

        a {
          /*normal*/
          @include paragraph-l();
          color: $color-dark-l;
          cursor: pointer;
          text-decoration: none;
        }

        .border-unique {
          flex: none;
          align-self: stretch;
          flex-grow: 0;
          margin: 0px 0px;
          height: 3px;
          border-radius: 0px;
          background: $color-primary;
        }

        .nav-unique {
          color: $color-dark-3xl;
        }

        .nav-others:active {
          color: $color-dark-l;

          ~ .border-others {
            flex: none;
            align-self: stretch;
            flex-grow: 0;
            margin: 0px 0px;
            height: 3px;
            border-radius: 0px;
            background: $color-primary;
          }
        }

        .nav-others:hover {
          color: $color-dark-3xl;
        }
      }
    }
  }
}
