.header {
  background: $color-light-xl;
  width: 100%;
  height: 120px;
  position: sticky;
  top: 0;
  z-index: 1;

  .flex-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 40px;

    .logo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      height: 60px;

      .title {
        @include logo-title();
        color: $color-dark-l;
      }

      .subtitle {
        @include logo_subtitle();
        color: $color-dark-3xl;
      }
    }

    .nav-menu {
      display: flex;
      align-items: center;

      .ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 443px;
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 0;

        .li {
          .a {
            /*normal*/
            @include paragraph-l();
            color: $color-dark-l;
            cursor: pointer;
            text-decoration: none;
          }

          .border-unique {
            flex: none;
            align-self: stretch;
            flex-grow: 0;
            margin: 0px 0px;
            height: 3px;
            border-radius: 0px;
            background: $color-primary;
          }

          .nav-unique {
            color: $color-dark-3xl;
          }

          .nav-others:active {
            color: $color-dark-l;

            ~ .border-others {
              flex: none;
              align-self: stretch;
              flex-grow: 0;
              margin: 0px 0px;
              height: 3px;
              border-radius: 0px;
              background: $color-primary;
            }
          }

          .nav-others:hover {
            color: $color-dark-3xl;
          }
        }
      }
    }
  }
}

.burger-icon {
  display: none;
}
.burger {
  display: none;
}

@media screen and (max-width: 1279px) {
  .header {
    .flex-container {
      padding: 30px;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    .flex-container {
      padding: 30px 50px 30px 10px;
      .nav-menu {
        display: none;
      }
    }
  }
  .burger-icon {
    display: block;
    position: fixed;
    cursor: pointer;
    right: 53px;
    top: 49px;
    width: 30px;
    height: 22px;
    z-index: 20;
    transition: transform 0.5s;
    transform: rotate(0deg);
  }
  .burger-icon.active {
    display: block;
    position: fixed;
    cursor: pointer;
    right: 53px;
    top: 49px;
    width: 30px;
    height: 22px;
    z-index: 20;
    transition: transform 0.5s;
    transform: rotate(90deg);
  }

  .burger {
    position: fixed;
    display: block;
    width: 320px;
    height: 100vh;
    background: $color-light-xl;
    right: 0px;
    top: 0px;
    z-index: 10;
    transition: transform ease-out 0.5s;
    transform: translateX(100%);

    .burger-header {
      position: absolute;
      top: 30px;
      left: 10px;

      .burger-logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        width: 184px;
        height: 60px;
        white-space: nowrap;

        .burger-title {
          @include logo-title();
          color: $color-dark-l;
        }

        .burger-subtitle {
          @include logo_subtitle();
          color: $color-dark-3xl;
        }
      }
    }

    .burger-ul {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 243px;
      height: 327px;
      left: 39px;
      top: 248px;
      list-style-type: none;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0;

      .burger-li {
        .a-burger {
          /*normal*/
          @include paragraph-mobile-menu();
          color: $color-dark-l;
          cursor: pointer;
          text-decoration: none;
        }

        .border-unique {
          flex: none;
          align-self: stretch;
          flex-grow: 0;
          margin: 0px 0px;
          height: 3px;
          border-radius: 0px;
          background: $color-primary;
        }

        .nav-unique {
          color: $color-dark-3xl;
        }

        .nav-others:active {
          color: $color-dark-l;

          ~ .border-others {
            flex: none;
            align-self: stretch;
            flex-grow: 0;
            margin: 0px 0px;
            height: 3px;
            border-radius: 0px;
            background: $color-primary;
          }
        }

        .nav-others:hover {
          color: $color-dark-3xl;
        }
      }
    }
  }

  .burger.active {
    transition: transform ease-out 0.5s;
    transform: translateX(0%);
  }
}
