.bg-pets {
  background: $color-light-l;
  min-height: 1342px;
}

.pets {
  width: 100%;

  .pets-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 40px 100px;

    h3 {
      color: $color-dark-l;
      width: 400px;
      height: 90px;
      text-align: center;
    }

    .cards-container {
      display: flex;
      flex-wrap: wrap;
      padding-top: 45px;
      padding-bottom: 45px;

      .card {
        @include card;
        &:hover {
          .button-secondary {
            background: $color-primary-light;
          }
        }
      }

      .Katrine {
        margin-top: 15px;
      }

      .Jennifer {
        margin-left: 40px;
        margin-top: 15px;
      }

      .Woody {
        margin-left: 40px;
        margin-top: 15px;
      }

      .Sophia {
        margin-left: 40px;
        margin-top: 15px;
      }

      .Timmy {
        margin-top: 30px;
        margin-bottom: 15px;
      }

      .Charly {
        margin-left: 40px;
        margin-top: 30px;
        margin-bottom: 15px;
      }

      .Scarlett {
        margin-left: 40px;
        margin-top: 30px;
        margin-bottom: 15px;
      }

      .Freddie {
        margin-left: 40px;
        margin-top: 30px;
        margin-bottom: 15px;
      }

      .button-secondary {
        @include button-secondary();
        margin-top: 30px;
      }

      .name {
        font-family: Georgia;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.06em;
        text-align: center;
        color: $color-dark-l;
        margin-top: 30px;
      }
    }
    nav {
      display: flex;
      justify-content: center;

      a {
        text-decoration: none;
        @include button-arrow();
        margin: 0 20px;
      }

      .left {
        color: $color-dark-s;
        &:hover {
          background: $color-light-l;
          border: 2px solid $color-primary;
          cursor: default;
        }
      }

      .page {
        color: $color-dark-3xl;
        &:hover {
          background: $color-light-l;
          border: 2px solid $color-primary;
          cursor: default;
        }
      }

      .right {
        color: $color-dark-3xl;
      }
    }
  }
}
