.pets {
  background: $color-light-l;
  width: 100%;

  .pets-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 40px 100px;

    h3 {
      color: $color-dark-l;
      width: 400px;
      height: 90px;
      text-align: center;
    }

    .cards-container {
      display: flex;
      flex-wrap: wrap;
      margin: 45px 0;
      padding: 15px 0;
      max-width: 1200px;
      min-height: 930px;
      justify-content: space-between;
      align-content: space-between;
      box-sizing: border-box;

      .card {
        @include card;
        &:hover {
          .button-secondary {
            background: $color-primary-light;
            border: 2px solid transparent;
          }
        }
      }

      // .Katrine {

      // }

      // .Jennifer {

      // }

      // .Woody {

      // }

      // .Sophia {

      // }

      // .Timmy {

      // }

      // .Charly {

      // }

      // .Scarlett {

      // }

      // .Freddie {

      // }

      .button-secondary {
        @include button-secondary();
        margin-top: 30px;
      }

      .name {
        font-family: Georgia;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.06em;
        text-align: center;
        color: $color-dark-l;
        margin-top: 30px;
      }
    }
    nav {
      display: flex;
      justify-content: center;

      a {
        text-decoration: none;
        @include button-arrow();
        margin: 0 10px;
      }

      .right {
        color: $color-dark-3xl;
      }

      .page {
        color: $color-dark-3xl;
        background: $color-primary;
        &:hover {
          background: $color-primary; //?
          border: 2px solid $color-primary;
          cursor: default;
        }
      }

      .left {
        color: $color-dark-s;
        border: 2px solid $color-dark-s;
        &:hover {
          background: $color-light-l;
          border: 2px solid $color-dark-s;
          cursor: default;
        }
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  .pets {
    .pets-content {
      padding: 60px 30px 70px;

      h3 {
        padding-top: 20px;
      }

      .cards-container {
        margin: 30px 64px 40px;
        padding: 0;
        min-height: 1365px;

        // .Katrine {

        // }

        // .Jennifer {

        // }

        // .Woody {

        // }

        // .Sophia {

        // }

        // .Timmy {

        // }

        // .Charly {

        // }

        .Scarlett {
          display: none;
        }

        .Freddie {
          display: none;
        }
      }

      nav {
        margin-bottom: 6px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .pets {
    .pets-content {
      padding: 42px 10px;

      h3 {
        @include h3-mobile;
        width: 300px;
        height: 64px;
        padding-top: 0px;
      }

      .cards-container {
        margin: 42px 15px;
        justify-content: center;

        // .Katrine {

        // }

        // .Jennifer {

        // }

        // .Woody {

        // }

        .Sophia {
          display: none;
        }

        .Timmy {
          display: none;
        }

        .Charly {
          display: none;
        }

        .Scarlett {
          display: none;
        }

        .Freddie {
          display: none;
        }
      }

      nav {
        margin-top: 0px;
        margin-bottom: 0px;
        a {
          margin: 0 5px;
        }
      }
    }
  }
}
