.about {
  background: $color-light-xl;
  width: 100%;

  .about-content {
    display: flex;
    justify-content: center;
    padding: 80px 40px 100px;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 380px;
    padding: 14px 0px 14px 120px;

    h3 {
      color: $color-dark-l;
      width: 370px;
      height: 90px;
    }

    .subheading {
      @include paragraph-l();
      color: $color-dark-xl;
      padding-top: 25px;
      width: 430px;
    }
  }
}
