.bg-about {
  background: $color-light-xl;
  min-height: 588px;
}

.about {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 80px 40px 100px;

  .content {
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 380px;
    padding: 14px 175px 14px 120px;

    h3 {
      color: $color-dark-l;
    }

    .subheading {
      @include paragraph-l();
      color: $color-dark-xl;
      padding-top: 25px;
    }
  }
}
