#bg-footer {
  background-image: url(../../../assets/img/footer-gradient-background.png);
  background-size: cover;
  height: 350px;
  width: 100%;
}

.footer {
  box-sizing: border-box;
  height: 350px;
  width: 100%;
}
