.help {
  background: $color-light-xl;
  width: 100%;

  .help-content {
    padding: 80px 40px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h3 {
    color: $color-dark-l;
    text-align: center;
    width: 320px;
    height: 90px;
  }

  .list1 {
    display: flex;
    padding: 60px 87px 0px 87px;
    justify-content: space-between;
    align-items: center;
    width: 1026px;
    height: 113px;
  }

  .list2 {
    display: flex;
    padding: 55px 87px 0px 87px;
    justify-content: space-between;
    align-items: center;
    width: 858px;
    height: 113px;
  }

  .list-items {
    text-align: center;

    h4 {
      color: $color-dark-l;
      padding-top: 30px;
    }
  }

  // .pet-food {

  // }

  // .transportation {

  // }

  // .toys {

  // }

  // .bowls-and-cups {

  // }

  // .shampoos {

  // }

  // .vitamins {

  // }

  // .medecines {

  // }

  // .collars-leashes {

  // }

  // .sleeping-areas {

  // }
}
