.bg-help {
  background: $color-light-xl;
  min-height: 611px;
}

.help {
  width: 100%;

  .help-content {
    padding: 90px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h3 {
    color: $color-dark-l;
    width: 320px;
    height: 90px;
  }

  .list1 {
    display: flex;
    padding: 60px 87px 0px 87px;
    justify-content: space-between;
    align-items: center;
  }

  .list2 {
    display: flex;
    padding: 55px 87px 0px 87px;
    justify-content: space-between;
    align-items: center;
  }

  .list-items {
    text-align: center;

    h4 {
      color: $color-dark-l;
      padding-top: 30px;
    }
  }

  .pet-food {
    padding: 0;
    height: 113px;
  }

  .transportation {
    padding: 0 60px;
    height: 113px;
  }

  .toys {
    padding: 0 60px;
    height: 113px;
  }

  .bowls-and-cups {
    padding: 0 60px;
    height: 113px;
  }

  .shampoos {
    padding: 0;
    height: 113px;
  }

  .vitamins {
    padding-left: 85px;
    height: 113px;
  }

  .medecines {
    padding: 0 60px;
    height: 113px;
  }

  .collars-leashes {
    padding: 0 60px;
    height: 113px;
  }

  .sleeping-areas {
    padding-right: 85px;
    height: 113px;
  }
}
