.pets {
  background: $color-light-l;
  width: 100%;

  .pets-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 40px 100px;

    h3 {
      color: $color-dark-l;
      width: 400px;
      height: 90px;
      text-align: center;
    }

    .wrapper-slider {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 60px;
      width: 1200px;

      .back {
        cursor: pointer;
        background-image: url(../../../assets/icons/button_arrow.png);
        min-width: 52px;
        height: 52px;
        transition: all 0.3s;
        &:hover {
          background-image: url(../../../assets/icons/button_arrow_hover.png);
        }
      }

      .slider {
        display: flex;
        width: 990px;
        overflow: hidden;

        .items {
          display: flex;
          position: relative;
          left: -990px;
          gap: 90px;

          .card {
            @include card;
            &:hover {
              .button-secondary {
                background: $color-primary-light;
                border: 2px solid transparent;
              }
            }
            .button-secondary {
              @include button-secondary();
              margin-top: 30px;
            }

            .name {
              font-family: Georgia;
              font-size: 20px;
              font-weight: 400;
              line-height: 23px;
              letter-spacing: 0.06em;
              text-align: center;
              color: $color-dark-l;
              margin-top: 30px;
            }
          }
        }
      }
      .forward {
        cursor: pointer;
        margin-left: 53px;
        min-width: 52px;
        height: 52px;
        background-image: url(../../../assets/icons/button_arrow.png);
        transition: all 0.3s;
        transform: rotate(180deg);
        &:hover {
          background: url(../../../assets/icons/button_arrow_hover.png);
        }
      }
    }

    .button-primary {
      @include button-primary();
      width: 260px;
      height: 52px;
      margin-top: 60px;
    }
  }

  .transition-right {
    animation-name: move-right-1280;
    animation-duration: 0.5s;
  }

  .transition-left {
    animation-name: move-left-1280;
    animation-duration: 0.5s;
  }

  .modal-window-container {
    position: fixed;
    width: 900px;
    height: 552px;
    background-color: transparent;
    transform: translateX(100%);
    z-index: 30;

    .close-btn {
      cursor: pointer;
      position: absolute;
      top: -52px;
      right: -52px;
      min-width: 52px;
      height: 52px;
      background-image: url(../../../assets/icons/modal_close_button.png);
      transition: all 0.3s;
      &:hover {
        background-image: url(../../../assets/icons/modal_close_button-hover.png);
      }
    }

    .modal-window {
      display: flex;

      align-items: center;
      justify-content: space-between;
      width: 900px;
      max-height: 500px;
      bottom: 0px;
      left: 0px;
      background-color: $color-light-s;
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      border-radius: 9px;
      img {
        border-radius: 9px 0px 0px 9px;
        width: 500px;
        height: 500px;
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 351px;
        height: 362px;
        margin: 50px 20px 88px 0px;
        h3 {
          color: #000000;
        }

        h4 {
          color: #000000;
          padding-top: 10px;
        }
        h5 {
          color: #000000;
          padding-top: 40px;
        }

        ul {
          display: block;
          list-style-type: none;
          margin-block-start: 29px;
          margin-block-end: 0;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          padding-inline-start: 0px;

          li {
            color: #000000;
            margin-top: 11px;
            .features {
              @include h5-modal-window;
            }
          }
        }

        // Changing color of list-style-type
        ul li::before {
          content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
          color: $color-primary; /* Change the color */
          font-weight: bold; /* If you want it to be bold */
          display: inline-block; /* Needed to add space between the bullet and the text */
          width: 1em; /* Also needed for space (tweak if needed) */
          // margin-left: -1em; /* Also needed for space (tweak if needed) */
        }
      }
    }
  }
  .modal-window-container.active {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

//Media Queries

@media screen and (max-width: 1279px) {
  .pets {
    .pets-content {
      padding: 80px 30px 100px;

      .wrapper-slider {
        width: 708px;

        .back {
          margin-right: 12px;
        }

        .slider {
          width: 580px;

          .items {
            left: -592px;
            gap: 47px;

            .item_2 {
              display: none;
            }
          }
        }
        .forward {
          margin-left: 12px;
        }
      }
    }
    .transition-right {
      animation-name: move-right-768;
      animation-duration: 0.5s;
    }

    .transition-left {
      animation-name: move-left-768;
      animation-duration: 0.5s;
    }

    .modal-window-container {
      width: 630px;
      height: fit-content;

      .modal-window {
        width: 630px;

        img {
          width: 350px;
          height: 350px;
        }
        .content {
          width: 260px;

          margin: 10px 10px 0px 0px;

          h5 {
            color: #000000;
            padding-top: 20px;
            font-family: "Georgia";
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 14.3px;
            /* or 14px */

            letter-spacing: 0.06em;
          }

          ul {
            margin-block-start: 15px;

            li {
              color: #000000;
              margin-top: 5px;
              .features {
                @include h5-modal-window;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .pets {
    .pets-content {
      padding: 42px 10px;

      h3 {
        @include h3-mobile;
        width: 300px;
        height: 64px;
      }

      .wrapper-slider {
        justify-content: center;
        flex-wrap: wrap;
        width: 300px;
        margin-top: 42px;

        .back {
          margin-right: 40px;
          margin-top: 20px;
        }

        .slider {
          width: 270px;
          order: -1;

          .items {
            display: flex;
            position: relative;
            left: -270px;
            gap: 0px;

            .item_3 {
              display: none;
            }
          }
        }
        .forward {
          margin-left: 40px;
          margin-top: 20px;
        }
        .button-primary {
          margin-top: 42px;
        }
      }
      .button-primary {
        margin-top: 42px;
      }
    }
    .transition-right {
      animation-name: move-right-320;
      animation-duration: 0.5s;
    }

    .transition-left {
      animation-name: move-left-320;
      animation-duration: 0.5s;
    }
    .modal-window-container {
      width: 240px;

      .close-btn {
        right: -30px;
      }

      .modal-window {
        width: 240px;

        img {
          display: none;
        }
        .content {
          justify-content: center;
          align-items: center;
          width: 220px;
          margin: 10px;

          h3 {
            text-align: center;
          }

          h4 {
            text-align: center;
          }
          h5 {
            text-align: justify;
          }

          ul {
            margin-block-start: 15px;
            align-self: flex-start;
            li {
              .features {
                @include h5-modal-window;
              }
            }
          }
        }
      }
    }
  }
}

// Animation for Carousel

@keyframes move-right-1280 {
  from {
    left: -990px;
  }
  to {
    left: -1980px;
  }
}

@keyframes move-left-1280 {
  from {
    left: -990px;
  }
  to {
    left: 0px;
  }
}

@keyframes move-right-768 {
  from {
    left: -592px;
  }
  to {
    left: -1184px;
  }
}

@keyframes move-left-768 {
  from {
    left: -592px;
  }
  to {
    left: 0px;
  }
}

@keyframes move-right-320 {
  from {
    left: -270px;
  }
  to {
    left: -540px;
  }
}

@keyframes move-left-320 {
  from {
    left: -270px;
  }
  to {
    left: 0px;
  }
}
