.bg-pets {
  background: $color-light-l;
  min-height: 877px;
}

.pets {
  width: 100%;

  .pets-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading {
      @include h3();
      color: $color-dark-l;

      width: calc(400 / 1280 * 100vw);
      height: calc(90 / 1280 * 100vw);
      margin-top: calc(80 / 1280 * 100vw);
      margin-bottom: calc(60 / 1280 * 100vw);
      text-align: center;
    }
    .slider {
      display: flex;
      width: 1200px;
      align-items: center;
      justify-content: space-between;
      .button-arrow {
        @include button-arrow();
      }
      .back {
        transform: rotate(180deg);
      }
      .card {
        @include card;
      }

      .button-secondary {
        @include button-secondary();
        margin-top: 30px;
      }

      .name {
        font-family: Georgia;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.06em;
        text-align: center;
        color: $color-dark-l;

        margin-top: 30px;
      }
    }
    .button-primary {
      @include button-primary();
      width: 261px;
      height: 52px;
      margin-top: calc(60 / 1280 * 100vw);
    }
  }
}
