#bg-start-screen {
  background-image: url(../../../assets/img/start-screen-gradient-background.png);
  background-size: cover;
  min-height: 908px;
  width: 100%;
}

.start-screen {
  box-sizing: border-box;
  min-height: 908px;
  width: 100%;
}
