/* fonts */
@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/arial/Arial-BoldItalicMT.eot");
  src: url("../../../assets/fonts/arial/Arial-BoldItalicMT.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/arial/Arial-BoldItalicMT.woff2") format("woff2"),
    url("../../../assets/fonts/arial/Arial-BoldItalicMT.woff") format("woff"),
    url("../../../assets/fonts/arial/Arial-BoldItalicMT.ttf") format("truetype"),
    url("../../../assets/fonts/arial/Arial-BoldItalicMT.svg#Arial-BoldItalicMT")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/arial/Arial-ItalicMT.eot");
  src: url("../../../assets/fonts/arial/Arial-ItalicMT.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/arial/Arial-ItalicMT.woff2") format("woff2"),
    url("../../../assets/fonts/arial/Arial-ItalicMT.woff") format("woff"),
    url("../../../assets/fonts/arial/Arial-ItalicMT.ttf") format("truetype"),
    url("../../../assets/fonts/arial/Arial-ItalicMT.svg#Arial-ItalicMT")
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/arial/Arial-BoldMT.eot");
  src: url("../../../assets/fonts/arial/Arial-BoldMT.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/arial/Arial-BoldMT.woff2") format("woff2"),
    url("../../../assets/fonts/arial/Arial-BoldMT.woff") format("woff"),
    url("../../../assets/fonts/arial/Arial-BoldMT.ttf") format("truetype"),
    url("../../../assets/fonts/arial/Arial-BoldMT.svg#Arial-BoldMT")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/arial/ArialMT.eot");
  src: url("../../../assets/fonts/arial/ArialMT.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/arial/ArialMT.woff2") format("woff2"),
    url("../../../assets/fonts/arial/ArialMT.woff") format("woff"),
    url("../../../assets/fonts/arial/ArialMT.ttf") format("truetype"),
    url("../../../assets/fonts/arial/ArialMT.svg#ArialMT") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/georgia/Georgia-Italic.eot");
  src: url("../../../assets/fonts/georgia/Georgia-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/georgia/Georgia-Italic.woff2") format("woff2"),
    url("../../../assets/fonts/georgia/Georgia-Italic.woff") format("woff"),
    url("../../../assets/fonts/georgia/Georgia-Italic.ttf") format("truetype"),
    url("../../../assets/fonts/georgia/Georgia-Italic.svg#Georgia-Italic")
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/georgia/Georgia-Bold.eot");
  src: url("../../../assets/fonts/georgia/Georgia-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/georgia/Georgia-Bold.woff2") format("woff2"),
    url("../../../assets/fonts/georgia/Georgia-Bold.woff") format("woff"),
    url("../../../assets/fonts/georgia/Georgia-Bold.ttf") format("truetype"),
    url("../../../assets/fonts/georgia/Georgia-Bold.svg#Georgia-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/georgia/Georgia-BoldItalic.eot");
  src: url("../../../assets/fonts/georgia/Georgia-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/georgia/Georgia-BoldItalic.woff2")
      format("woff2"),
    url("../../../assets/fonts/georgia/Georgia-BoldItalic.woff") format("woff"),
    url("../../../assetsfonts/georgia/Georgia-BoldItalic.ttf")
      format("truetype"),
    url("../../../assets/fonts/georgia/Georgia-BoldItalic.svg#Georgia-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/georgia/Georgia.eot");
  src: url("../../../assets/fonts/georgia/Georgia.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/georgia/Georgia.woff2") format("woff2"),
    url("../../../assets/fonts/georgia/Georgia.woff") format("woff"),
    url("../../../assets/fonts/georgia/Georgia.ttf") format("truetype"),
    url("../../../assets/fonts/georgia/Georgia.svg#Georgia") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// variables
$color-light-xl: #ffffff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-3xl: #292929;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;

//  extensions
%card-hover {
  background: #c4c4c4;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
h2 {
  /* h2 */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
  color: #c4c4c4;
}
h3 {
  /* h3 */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
  color: #c4c4c4;
}
%h3-mobile {
  /* h3-mobile */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */
  letter-spacing: 0.06em;
  color: #c4c4c4;
}
h4 {
  /* h4 */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  color: #c4c4c4;
}
h5 {
  /* h5 */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
  color: #c4c4c4;
}
%h5-modal-window {
  /* h5-modal-window */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
  color: #c4c4c4;
}
%paragraph-l {
  /* paragraph-l */
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  color: #c4c4c4;
}
%paragraph-s {
  /* paragraph-s */
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
  color: #c4c4c4;
}
%paragraph-mobile-menu {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
  color: #c4c4c4;
}
%logo_title {
  /* logo_title */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  /* identical to box height, or 35px */
  letter-spacing: 0.06em;
  color: #c4c4c4;
}
%logo_subtitle {
  /* logo_subtitle */
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: #c4c4c4;
}

/* imports */
@import "about";
@import "donation";
@import "footer";
@import "header";
@import "help";
@import "pets";
@import "start-screen";

/* main block */

.bg-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 100vh;
  margin: auto;
}
