/* imports */
@import "fonts";
@import "variables";
@import "about";
@import "donation";
@import "footer";
@import "header";
@import "help";
@import "pets";
@import "start-screen";

/* main block */

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: auto;
  overflow: auto;
}
