/* imports */
@import "../../../assets/styles/fonts";
@import "../../../assets/styles/variables";
@import "about";
@import "donation";
@import "footer";
@import "help";
@import "pets";
@import "start-screen";

/* main block */

body {
  overflow-x: hidden;
}

.bg-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 1280px;
  margin: 0 auto;
}

h1 {
  /* invisible (for search-engines) */
  position: fixed;
  left: 0;
  top: 0;
  font-size: 0;
  margin: 0;
  font-size: 0;
  margin: 0;
}

h2 {
  /* h2 reset*/
  font-size: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 0;
  /* h2 new*/
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
}

h3 {
  /* h3 reset*/
  font-size: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 0;
  /* h3 new */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
}

h4 {
  /* h4 reset*/
  font-size: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 0;
  /* h4 new */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
}

h5 {
  /* h5 reset*/
  font-size: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 0;
  /* h5 new */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
}
