/* imports */
/* fonts */
@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/arial/Arial-BoldItalicMT.eot");
  src: url("../../../assets/fonts/arial/Arial-BoldItalicMT.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/arial/Arial-BoldItalicMT.woff2") format("woff2"), url("../../../assets/fonts/arial/Arial-BoldItalicMT.woff") format("woff"), url("../../../assets/fonts/arial/Arial-BoldItalicMT.ttf") format("truetype"), url("../../../assets/fonts/arial/Arial-BoldItalicMT.svg#Arial-BoldItalicMT") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/arial/Arial-ItalicMT.eot");
  src: url("../../../assets/fonts/arial/Arial-ItalicMT.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/arial/Arial-ItalicMT.woff2") format("woff2"), url("../../../assets/fonts/arial/Arial-ItalicMT.woff") format("woff"), url("../../../assets/fonts/arial/Arial-ItalicMT.ttf") format("truetype"), url("../../../assets/fonts/arial/Arial-ItalicMT.svg#Arial-ItalicMT") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/arial/Arial-BoldMT.eot");
  src: url("../../../assets/fonts/arial/Arial-BoldMT.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/arial/Arial-BoldMT.woff2") format("woff2"), url("../../../assets/fonts/arial/Arial-BoldMT.woff") format("woff"), url("../../../assets/fonts/arial/Arial-BoldMT.ttf") format("truetype"), url("../../../assets/fonts/arial/Arial-BoldMT.svg#Arial-BoldMT") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/arial/ArialMT.eot");
  src: url("../../../assets/fonts/arial/ArialMT.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/arial/ArialMT.woff2") format("woff2"), url("../../../assets/fonts/arial/ArialMT.woff") format("woff"), url("../../../assets/fonts/arial/ArialMT.ttf") format("truetype"), url("../../../assets/fonts/arial/ArialMT.svg#ArialMT") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/georgia/Georgia-Italic.eot");
  src: url("../../../assets/fonts/georgia/Georgia-Italic.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/georgia/Georgia-Italic.woff2") format("woff2"), url("../../../assets/fonts/georgia/Georgia-Italic.woff") format("woff"), url("../../../assets/fonts/georgia/Georgia-Italic.ttf") format("truetype"), url("../../../assets/fonts/georgia/Georgia-Italic.svg#Georgia-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/georgia/Georgia-Bold.eot");
  src: url("../../../assets/fonts/georgia/Georgia-Bold.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/georgia/Georgia-Bold.woff2") format("woff2"), url("../../../assets/fonts/georgia/Georgia-Bold.woff") format("woff"), url("../../../assets/fonts/georgia/Georgia-Bold.ttf") format("truetype"), url("../../../assets/fonts/georgia/Georgia-Bold.svg#Georgia-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/georgia/Georgia-BoldItalic.eot");
  src: url("../../../assets/fonts/georgia/Georgia-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/georgia/Georgia-BoldItalic.woff2") format("woff2"), url("../../../assets/fonts/georgia/Georgia-BoldItalic.woff") format("woff"), url("../../../assetsfonts/georgia/Georgia-BoldItalic.ttf") format("truetype"), url("../../../assets/fonts/georgia/Georgia-BoldItalic.svg#Georgia-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/georgia/Georgia.eot");
  src: url("../../../assets/fonts/georgia/Georgia.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/georgia/Georgia.woff2") format("woff2"), url("../../../assets/fonts/georgia/Georgia.woff") format("woff"), url("../../../assets/fonts/georgia/Georgia.ttf") format("truetype"), url("../../../assets/fonts/georgia/Georgia.svg#Georgia") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.about {
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 588px;
  width: 100%;
}

.donation {
  background: #f6f6f6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 462px;
  width: 100%;
}

.footer {
  background-image: url(../../../assets/img/footer-gradient-background.png);
  background-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 350px;
  width: 100%;
}

.help {
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 611px;
  width: 100%;
}

.pets {
  background: #f6f6f6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 877px;
  width: 100%;
}

.start-screen {
  background-image: url(../../../assets/img/start-screen-gradient-background.png);
  background-size: 100%;
  min-height: 908px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 908px;
}

.start-screen header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: calc(60 / 1280 * 100vw) calc(40 / 1280 * 100vw) 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
}

.start-screen header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-screen header .logo .title {
  /* logo_title */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  /* identical to box height, or 35px */
  letter-spacing: 0.06em;
  color: #f1cdb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-screen header .logo .subtitle {
  /* logo_subtitle */
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-screen header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 3;
      flex-shrink: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-screen header .nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-screen header .nav-menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin: 0px 0px 0px calc(35 / 1280 * 100vw);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-screen header .nav-menu ul li a {
  /*normal*/
  /* paragraph-l */
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  color: #cdcdcd;
  cursor: pointer;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-screen header .nav-menu ul li .border-unique {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 0px;
  height: 3px;
  border-radius: 0px;
  background: #f1cdb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-screen header .nav-menu ul li .nav-unique {
  color: #fafafa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-screen header .nav-menu ul li .nav-others:active {
  color: #fafafa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-screen header .nav-menu ul li .nav-others:active ~ .border-others {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 0px;
  height: 3px;
  border-radius: 0px;
  background: #f1cdb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-screen header .nav-menu ul li .nav-others:hover {
  color: #fafafa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-screen .start-screen-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: calc(60 / 1280 * 100vw) calc(40 / 1280 * 100vw) 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-screen .start-screen-content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 728px;
      flex-basis: 728px;
}

.start-screen .start-screen-content .content .heading {
  /* h2 */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
  color: #ffffff;
  width: calc(310 / 1280 * 100vw);
  height: calc(114 / 1280 * 100vw);
  margin-top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-screen .start-screen-content .content .subheading {
  /* paragraph-l */
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  color: #cdcdcd;
  width: calc(460 / 1280 * 100vw);
  height: calc(72 / 1280 * 100vw);
  margin-top: calc(42 / 1280 * 100vw);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-screen .start-screen-content .content .button-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f1cdb3;
  padding: 15px 45px;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
  color: #292929;
  font-family: Georgia;
  font-size: 16.9px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  width: 207px;
  height: 52px;
  margin-top: calc(42 / 1280 * 100vw);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-screen .start-screen-content .content .button-primary:hover {
  background: #fddcc4;
}

.start-screen .start-screen-content .start-screen-puppy {
  width: 698px;
  height: 728px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-screen h1 {
  position: fixed;
  left: 0;
  top: 0;
  font-size: 0;
  margin: 0;
  font-size: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* main block */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: auto;
}
/*# sourceMappingURL=styles.css.map */