footer {
  background: radial-gradient(
      110.67% 538.64% at 5.73% 50%,
      #513d2f 0%,
      #1a1a1c 100%
    ),
    #211f20;
  width: 100%;

  .footer-content {
    display: flex;
    padding: 40px 40px 0px;

    .contacts {
      display: flex;
      flex-direction: column;
      padding: 16px 158px 60px 0px;

      h3 {
        color: $color-light-xl;
        width: 280px;
        height: 90px;
      }

      .mail {
        padding-top: 40px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color-primary;

        img {
          padding-right: 20px;
        }
        &:hover {
          color: $color-primary-light;
        }
      }

      .phone {
        padding-top: 40px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color-primary;

        img {
          padding-right: 20px;
        }
        &:hover {
          color: $color-primary-light;
        }
      }
    }
    .locations {
      display: flex;
      flex-direction: column;
      padding: 16px 160px 60px 0px;

      h3 {
        color: $color-light-xl;
        width: 270px;
        height: 90px;
      }

      .boston {
        padding-top: 33px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color-primary;
        width: 302px;
        height: 46px;

        img {
          padding-right: 20px;
        }
        &:hover {
          color: $color-primary-light;
        }
      }

      .london {
        padding-top: 33px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color-primary;

        img {
          padding-right: 20px;
        }
        &:hover {
          color: $color-primary-light;
        }
      }
    }
  }

  .footer-puppy-768 {
    display: none;
  }
}

//Media Queries

@media screen and (max-width: 1279px) {
  footer {
    .footer-content {
      padding: 30px 30px 0px;
      justify-content: space-between;

      .contacts {
        padding: 0px 60px 0px 34px;
      }

      .locations {
        padding: 0px 34px 0px 0px;
      }

      .footer-puppy-1280 {
        display: none;
      }
    }

    .footer-puppy-768 {
      display: block;
      padding-top: 65px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 767px) {
  footer {
    .footer-content {
      padding: 30px 10px 0px;
      flex-direction: column;
      align-items: center;

      .contacts {
        padding: 0px 11px;
        align-items: center;

        h3 {
          @include h3-mobile;
          width: 278px;
          height: 64px;
          text-align: center;
        }
      }
      .locations {
        padding: 40px 0px 0px;
        align-items: stretch;

        h3 {
          @include h3-mobile;
          width: 270px;
          height: 64px;
          text-align: center;
          align-self: center;
        }

        .boston {
          padding-top: 40px;
        }

        .london {
          padding-top: 40px;
        }
      }
    }
    .footer-puppy-768 {
      display: block;
      padding-top: 40px;
      margin: 0 auto;
      width: 260px;
      height: 269px;
    }
  }
}
