// variables
$color-light-xl: #ffffff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-3xl: #292929;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;

// mixins
@mixin card() {
  width: 270px;
  height: 435px;
  border-radius: 9px;
  background: $color-light-s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: $color-light-xl;
    transform: scale(1.1, 1.1);
  }
}

@mixin button-primary() {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-primary;
  padding: 15px 45px;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
  color: $color-dark-3xl;
  font-family: Georgia;
  font-size: 16.8px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  box-sizing: border-box;
  transition: background-color 0.3s;
  &:hover {
    background: $color-primary-light;
    border: 0px solid transparent;
  }
}

@mixin button-secondary() {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 45px;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
  color: $color-dark-3xl;
  font-family: Georgia;
  font-size: 16.8px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  transition: background-color 0.3s;
  &:hover {
    background: $color-primary-light;
    border: 2px solid transparent;
  }
}

@mixin button-arrow() {
  padding: 10px 10px;
  text-align: center;
  width: 52px;
  height: 52px;
  border: 2px solid $color-primary;
  border-radius: 100px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s;
  &:hover {
    background: $color-primary-light;
    border: 2px solid transparent;
  }
}

@mixin h3-mobile() {
  /* h3-mobile */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */
  letter-spacing: 0.15em;
}

@mixin h5-modal-window() {
  /* h5-modal-window */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
}

@mixin paragraph-l() {
  /* paragraph-l */
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
}

@mixin paragraph-s() {
  /* paragraph-s */
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
}

@mixin paragraph-mobile-menu() {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
}

@mixin logo_title() {
  /* logo_title */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  /* identical to box height, or 35px */
  letter-spacing: 0.055em;
}

@mixin logo_subtitle() {
  /* logo_subtitle */
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.1em;
}
